:root {
  --background: #dbdbdb;
  --foreground: #171717;

  --color-text-primary: #0CD7E2;
--color-text: #3d2073;

  --color-border:#0CD7E2;
  --color-border-2: #00f4be;

  --bg-gradient-card: linear-gradient(90deg, rgba(161,204,249,1) 0%, rgba(187,139,251,1) 100%);
  --bg-gradient-card-2: linear-gradient(90deg, rgba(187,139,251,0.186734068627451) 0%, rgba(187,139,251,1) 100%);
  --bg-gradient-card-3: linear-gradient(90deg, rgb(188, 139, 251) 0%, rgb(142, 59, 250) 100%);
  --bg-gradient-card-4: linear-gradient(90deg, rgba(201,241,243,1) 0%, rgba(118,182,244,1) 45%, rgba(29,21,80,1) 100%);
  --bg-gradient-card-5: linear-gradient(90deg,  rgba(187,139,251,1) 0%, rgba(161,204,249,1) 100%);


  --gradient-1: radial-gradient(circle, rgba(0, 255, 183, 0.626) 0%, rgba(2,0,36,0) 67%);
  --gradient-2: radial-gradient(circle, rgba(44, 150, 242, 0.526) 0%, rgba(2,0,36,0) 67%);

  --bg-component:#140833;
  --bg-footer: #140833;
  --bg-footer-2: #07040e;

  --bg-footer-card-1:  #6021b6;
  --bg-footer-card-2:  #2292a8;
  --bg-footer-card-3:  #02cd77;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
